body {
  font-family:'Century Gothic', 'ƒƒCƒŠƒI', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3','‚l‚r ‚oƒSƒVƒbƒN', 'Meiryo', 'osaka', 'Hiragino Kaku Gothic Pro W3', sans-serif;
}
.navbar-inverse .navbar-brand {
  color: #eee;
}

